.table {
  text-align: center;
  line-height: 0.6rem;
}

.tdElement {
  border-spacing: 0;
  background-color: #3b444b;
  border: 0.0075rem solid #dddddd;
  width: 2.5rem;
  height: 2.5rem;
  color: #dddddd;
  margin: 0;
  border-radius: 5px;
}

.tdIndex {
  font-size: 0.5rem;
}

.tdPointer {
  font-size: 0.8rem;
  width: 0.2rem;
  height: 2vh;
  padding: 0;
  margin: 0;
}
